body{
    background: url(../img/generico12.jpg) no-repeat;
    background-size: cover;
}

p{
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    color: #cdc3bb;
    line-height: 0.9;
}

.home-banner{
    background:black; 
    height: 200px;
}

.banner-logo{
    max-height: 150px;
    margin-top: 40px;
}

.orange-text{
    color: #cf7a21;
}

.right-border{
    border-right: #cf7a21 1px solid;
    max-height: 100px;
    margin: 70px 0px 30px 70px !important;
}